.log-btn-bloc{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.log-btn{
    width: 50%;
    max-width: 176px;
    height: 40px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    font-size: large;
    font-weight: 600;
    background-color:   #fff0f0;
    box-shadow: 1px 1px 10px #967b7b;
}
.log-btn:active{
    background-color: $secondary-color;
    box-shadow: inset 1px 1px 5px #967b7b;
}

// Update image

.image-btn-bloc{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.image-btn{
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    font-weight: 600;
    background-color:   #fff0f0;
    box-shadow: 1px 1px 10px #967b7b;
}

.image-btn:active{
    background-color: $secondary-color;
    box-shadow: inset 1px 1px 5px #967b7b;
}

.choose-image{
    margin-top: 10px;
    margin-left: 10px;
    width: 120px
}

// Update profil

.update-btn-bloc{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.update-btn{
    width: 50%;
    max-width: 176px;
    height: 40px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    font-size:medium;
    font-weight: 600;
    background-color:   #fff0f0;
    box-shadow: 1px 1px 10px #967b7b;
}

.update-btn:active{
    background-color: $secondary-color;
    box-shadow: inset 1px 1px 5px #967b7b;
}

// Send/Cancel update profil

.update-form-btn-bloc{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.update-form-btn{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    font-weight: 600;
    background-color:   #fff0f0;
    box-shadow: 1px 1px 10px #967b7b;
}

.update-form-btn:active{
    background-color: $secondary-color;
    box-shadow: inset 1px 1px 5px #967b7b;
}
