header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 60px;
    img{
        width: 50%;
        max-width: 305px;
        max-height: 60px;
    }
}

