nav{
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: solid 2px $primary-color;

    .logout{
        background-color: white;
        border: none;
    }
    .navlink{
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 10px 10px;
        cursor: pointer;
    }
    & :hover{
        background-color: $secondary-color;
    }

    position: sticky;
    top: 70px;
    background-color: white;
}

@include tablet-portrait{
    nav{
        height: 250px;
        padding: 0 10px 0 10px;
        flex-direction: column;
        border-bottom: none;
    }
}
