body {
    font-family: "lato";
    font-size: 1em;
    color: $tertiary-color;
}

div {
    width: 100%;
}

.main-page{
    display: flex;
    flex-direction: column;
}
@include tablet-landscape{
    .main-page{
        margin: 10px 10px 10px 10px ;
        flex-direction: row;
    }
}

